$cardColor: #446688;
$textColor: #00FFFF;
$buttonColor: #0e394b;

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  background-color: $buttonColor;
}

.mat-card-login {
  max-width: 500px;
  color: $textColor;
  background-color: $cardColor;
}
