$cardColor: #446688;
$textColor: #00FFFF;
$buttonColor: #0e394b;

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 30px 40px;
  background-color: $buttonColor;
  height: 100%;

}

.mat-card-profile {
  max-width: 300px;
  color: $textColor;
  background-color: $cardColor;
  padding: 12px;
}

.mat-card-header {
  color: $buttonColor;
}

h2 {
  color: $textColor;
  font-weight: 500;
}

h3 {
  color: $textColor;
  font-weight: 200;
}

mat-card-content {
  color: $textColor;
}

.mat-card-actions {
  position: absolute;
  padding: 4px 12px 12px 12px;
}
